*{
    margin: 0;
    padding: 0;
}
#main {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1617374128851-c84e37dc9f37?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

#overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.175);
}

#overlay h1 {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Anurati;
    color: white;
}