body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#calculator {
  font-family: Arial, sans-serif;
  background-color: rgb(74, 72, 72);
  border-radius: 10px;
  max-width: 433px;
  overflow: hidden;
}
#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgb(74, 72, 72);
  color: white;
  max-height: 100px;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 75px;
  margin-top: -60px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-right: 20px;
  border: none;
  background-color: rgb(46, 46, 46);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: hsl(0, 0%, 40%);
}
button:active{
  background-color: hsl(0, 0%, 50%);
}
.btn {
  background-color: hsl(39, 100%, 50%);
}