.container {
    border: 1px solid black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 70px;
}
.main_span {
    border: 1px solid black;
    padding: 10px 50px 10px 50px;
}
button {
    display: flex;
    margin: 10px;
    background-color: chocolate;

}